@page "/Projects/{catId}"
@using INStudio.Data
@inject IProjectService projectService
@layout INStudio.Pages.InnerSiteLayout

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>@category.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- projects -->
<div class="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <span>Това са само част от нашите проекти</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="proj" class="carousel slide projects_ban" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#proj" data-slide-to="0" class="active"></li>
                        <li data-target="#proj" data-slide-to="1"></li>
                        <li data-target="#proj" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">

                        
                            @for (int i = 0; i + s < ProjectsList.Count / 3; i++)
                        {
                            <div class="carousel-item @(i==0?"active":"")">
                                <div class="container-fluid">
                                    <div class="carousel-caption relative3">
                                        <div class="row">

                                            @foreach (var projectt in ProjectsList)
                                            {
                                                <div class="col-md-4">
                                                    <div class="project">
                                                        <div class="project_img">
                                                            <figure><img src="@projectt.Image.Url" alt="#" /></figure>
                                                        </div>
                                                        <div id="pro_ho" class="project_text" style="background-color:#fffffff2;">
                                                             <h3><a href="/Project/@projectt.Id">@projectt.Title</a></h3><br />@*@((MarkupString)project.Description) *@
                                                            @* <p><a href="/Project/@projectt.Id" class="btn btn-primary">Виж повече</a></p> *@
                                                        </div>
                                                    </div>
                                                </div>
                                            }



                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        







                        <a class="carousel-control-prev" href="#proj" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#proj" role="button" data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code 
{

    [Parameter]
    public string catId { get; set; }

    private Category category;


    private HashSet<INStudio.Data.Project> ProjectsList;
    private int s = 0;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        ProjectsList = new HashSet<INStudio.Data.Project>();
            category = this.db.Category.FirstOrDefault(c => c.Id == catId);
        
        HashSet<INStudio.Data.Project> proj = this.db.Projects.Include(p => p.CategoryProjects).Include(i => i.Image).ToHashSet();
            foreach(var pr in proj)
            {
                if(pr.CategoryProjects.Any(c => c.CategoryId == catId))
                {
                    ProjectsList.Add(pr);
                }
            }

        if (ProjectsList.Count % 3 > 0)
        {
            s = -1;
        }
    }
}
