<!-- choose -->
<div class="choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 ">
                <div class="titlepage">
                    <h2>Изберете нас</h2>
                    <p>Нашите проекти са разработени с цел устойчивост. Проектирането е на най-високо ниво като качеството е на преден план. Изпълнението е от специалисти с дългогодишен опит в областа. Контролът на изпълнението е всекидневен и компромиси не се допускат.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end choose -->

@code {

}
