<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Намерете ни</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 padding_left0">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d727.0442111224531!2d23.552360829235315!3d43.205779998696194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ab18e069d7ffb5%3A0x259d544ff49feb03!2z0YPQuy4g4oCe0JrRgNGK0YHRgtGM0L4g0JHRitC70LPQsNGA0LjRj9GC0LDigJwgMTgsIDMwMDIg0JLRgNCw0YbQsCDQptC10L3RgtGK0YAsINCS0YDQsNGG0LA!5e0!3m2!1sbg!2sbg!4v1605707740289!5m2!1sbg!2sbg" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->

@code {

}
