<!-- choose -->
<div class="brands" style="background-image:url(img/textured-background.jpg);">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>Нашите партньори</h2>
                <span></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="vertical-align: middle; display: inline-block;">

        </div>
        <div class="col-md-2" style="text-align: center; margin: 1em 0;">
            <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
            <a href="#">
                <img src="/img/bagltd1.jpg" style="height:100px; vertical-align:middle; " />

            </a>
        </div>
        <div class="col-md-2" style="text-align: center; margin: 1em 0;">
            <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
            <a href="#">
                <img src="/img/wagsa1.jpg" style="height:100px; vertical-align:middle; " />

            </a>
        </div>
        <div class="col-md-2" style="text-align: center; margin: 1em 0;">
            <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
            <a href="#">
                <img src="/img/Strabag-logo.jpg" style="width:70%; vertical-align:middle; " />

            </a>
        </div>
        <div class="col-md-2" style="text-align: center; margin: 1em 0;">
            <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
            <a href="#">
                <img src="/img/trace.png" style="width: 70%; vertical-align: middle; " />

            </a>
        </div>
        <div class="col-md-2" style="vertical-align: middle; display: inline-block;">

        </div>

    </div>


    @*<a href="#">
        <img src="/img/bagltd1.jpg" style="height:150px;" />
        <img src="/img/wagsa1.jpg" style="height:150px;" />
        <img src="/img/Strabag-logo.jpg" style="height:150px;" />
        <img src="/img/trace.png" style="height:150px;"/>
        </a>*@


</div>
<!-- end choose -->

@code { }
