<!-- three_box -->
<div class="three_box">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="text_hover" class="const text_align_center">
                    <i><img src="images/ser2.png" alt="#" /></i>
                    <span>Проектиране</span>
                </div>
            </div>
            <div class="col-md-3">
                <div id="text_hover" class="const text_align_center">
                    <i><img src="images/ser1.png" alt="#" /></i>
                    <span>Строителство</span>
                </div>
            </div>
            <div class="col-md-3">
                <div id="text_hover" class="const text_align_center">
                    <i><img src="images/ser3.png" alt="#" /></i>
                    <span>Поддръжка</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end three_box -->

@code {

}
